* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #ffffa1;
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.container {
    height: 82vh;
    display: flex;
}




/****** TEXTCONTAINER ******/

.textContainer {
    width: 70vw;
    padding: 50px 30px 0 50px;
    overflow-y: scroll;
    margin-bottom: 30px;
    position: relative;
}

.textBalloon {
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    border: 1px solid lightgray;
}

.textBalloon:last-of-type {
    margin-bottom: 0;
}

.textBalloon h4 {
    white-space: nowrap;
}

.textBalloon p span {
    font-weight: 800;
    margin-bottom: 5px;
}




/****** OVERVIEW ******/
.overviewContainer {
    height: 100%;
    width: 30vw;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 5px #333;
    border-radius: 0 0 0 5px;
    background-color: #ffff6e;
}

.overviewContainer div {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.overviewContainer ul li {
    list-style-type: none;
    margin-bottom: 10px;

}

.overviewContainer ul li span {
    text-decoration: underline;
}

.personInfo {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personInfo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 1px solid black;
    margin-bottom: 10px;
}

.mobileOverview {
    display: none;
}


/****** CONTROLS ******/

.podcastContainer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 15vh;
    min-height: 130px;
    left: 0;
    background-color: whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    box-shadow: 0 0 5px #333;
}

.podcastInfo {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 50px;
}

.podcastInfo img {
    height: 80%;
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
}

.podcastInfo h1 {
    display: flex;
}

.podcastInfo h1 span {
    border: 1px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    margin-left: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 22px;
}

.controlsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.timelineContainer {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.timeline {
    width: 80%;
    border-top: 5px solid black;
    margin: 0 10px;
    position: relative;
    border-radius: 5px;
}

.timeline:before {
    content: '';
    width: 20%;
    border-top: 5px solid #E54444;
    position: absolute;
    top: -5px;
    left: 0;
    border-radius: 5px;
}

.timeline:after {
    content: '';
    left: 18%;
    top: -8px;
    height: 12px;
    width: 12px;
    position: absolute;
    border-radius: 50%;
    background-color: #EB2323;
}

.touchControls {
    display: flex;
    align-items: center;
    margin-left: -30px;
}

.touchControls h3 {
    margin-right: 30px;
}

.touchControls img {
    height: 40px;
    width: 40px;
    margin-right: 30px;
}

.touchControls img:last-of-type {
    margin-right: 0;
}

.showPodcast {
    width: 50px;
    position: fixed;
    bottom: 165px;
    right: 20px;
    box-shadow: 0 0 5px #333;
    border-radius: 50%;
    display: none;
}

.show {
    transform: translateY(0) !important;
    transition: transform 1s;
}

.showBalloon {
    visibility: visible;
    opacity: 1;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.close img {
    width: 40px;
}

.nadruk {
    font-weight: bold;
    color: #E54444;
}

.silence {
    padding: 0 5px;
}


/****** MEDIA QUERIES ******/

@media only screen and (max-width: 900px) {
    .overviewContainer {
        display: none;
    }
    .textContainer {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0;
    }
    .podcastInfo {
        display: none;
    }
    .controlsContainer {
        width: 90%;
        margin: 0 auto;
    }
    .touchControls img {
        width: 30px;
        height: 30px;
    }
    .mobileOverview {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transform: translateY(200vh);
        transition: transform 1s;
        background-color: #ffff88;
    }
    .mobileOverview .podcastInfo {
        display: flex;
        width: 90%;
        margin: 70px auto 0;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
        justify-content: space-between;
    }
    .mobileOverview .podcastInfo img {
        width: 100px;
    }
    .mobileOverview .podcastInfo h1 {
        font-size: 24px;
    }
    .mobileOverview .podcastInfo h2 {
        font-size: 20px;
        margin-left: 0;
    }
    .mobileOverview .personContainer {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .mobileOverview h2 {
        margin-left: 20px;
    }
    .mobileOverview ul {
        padding: 20px;
    }
    .mobileOverview ul li {
        list-style-type: none;
        margin-bottom: 10px;
    }
    .mobileOverview ul li span {
        text-decoration: underline;
    }
    .showPodcast {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .textBalloon div {
        display: none;
    }
    .podcastInfo img {
        height: 50%;
    }
}








